.gv-tel-link {
  background-image: url(https://fonts.gstatic.com/s/i/productlogos/voice_2020q4/v7/web-24dp/logo_voice_2020q4_color_2x_web_24dp.png) !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
  border: 0 !important;
  display: inline-block !important;
  height: 1em !important;
  margin: 0 !important;
  padding: 0 !important;
  width: 1em !important;
}
